@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

:root {
    font-family: Roboto;
    box-sizing: border-box;
    font-size: 1rem;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    font-weight: 500;
    background-color: pink;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: min-content 1fr;

    min-height: 100vh;
}

.centeredOverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);

    display: grid;
    place-items: center;

    z-index: 1;
}

.newToDoForm {
    background-color: aliceblue;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 10px;

    display: grid;
    gap: 1rem;

    box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.15);
}

.projectsListTitleBackground {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: aliceblue;
    display: grid;
}

.projectListContainer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 1fr min-content;
    align-items: baseline;

    background-color: aliceblue;
}

.projectList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    list-style: none;
    font-size: 24px;
}

.newProjectButton {
    grid-row: 2 / 3;
    justify-self: center;
}

.projectListLink,
.newProjectButton {
    cursor: pointer;
}

.newProjectListLink {
    font-weight: bold;
    font-size: 36px;
}

.projectListLinkSelected {
    color: red;
}

.newProjectButton,
.newToDoButton {
    font-weight: bold;
    font-size: 48px;
}

.projectDisplayContainer {
    background-color: rgb(170, 170, 170);
}

.projectListContainer,
.projectDisplayMenuBar {
    padding: 1rem 2rem;
}

.projectDisplayMenuBar {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(200, 200, 200);
    box-shadow: 0 5px 50px 50px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.projectTitle,
.projectsListTitle {
    place-self: center;
    font-size: 2.25rem;
    font-weight: 700;
}

.projectDescription {
    width: 40%;
    font-style: italic;
}

.newToDoButton {
    margin-left: auto;
    cursor: pointer;
}

.projectOptionsIcon {
    height: 2.5rem;
    cursor: pointer;
}

.projectDisplay {
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
    gap: 2rem;
}

.toDo {
    background-color: pink;
    padding: 1.5rem;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.toDoTitle {
    font-size: 1.5rem;
    font-weight: 700;
}

.toDoDescription {
    font-style: italic;
}

.formHeading {
    text-align: center;
    font-size: 1.5rem;
}

.formItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}