@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

:root {
    font-family: Roboto;
    box-sizing: border-box;
    font-size: 1rem;

    --white-background-color: aliceblue;
    --dark-grey: rgb(35, 35, 35);
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    font-weight: 500;
    background-color: pink;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: min-content 1fr;

    min-height: 100vh;
}

.centeredOverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);

    display: grid;
    place-items: center;

    z-index: 1;
}

.newToDoForm {
    background-color: aliceblue;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 10px;

    display: grid;
    gap: 1rem;

    box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.15);
}

.projectsListTitleBackground {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: var(--white-background-color);
    display: grid;
}

.projectListContainer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 1fr min-content;
    align-items: baseline;

    background-color: var(--white-background-color);
}

.projectList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    list-style: none;
    font-size: 24px;
}

.newProjectButton {
    grid-row: 2 / 3;
    justify-self: center;
}

.projectListLink,
.projectListItem,
.newProjectButton {
    cursor: pointer;
}

.newProjectListLink {
    font-weight: bold;
    font-size: 36px;
}

.projectListItem {
    opacity: 0.5;
}

.projectListLinkSelected,
.projectListItemSelected {
    opacity: 1;
}

.newProjectButton,
.newToDoButton {
    font-weight: bold;
    font-size: 48px;
}

.projectDisplayContainer {
    background-color: rgb(170, 170, 170);
}

.projectListContainer,
.projectDisplayMenuBar {
    padding: 1rem 2rem;
}

.projectDisplayMenuBar {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(200, 200, 200);
    box-shadow: 0 5px 50px 50px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.projectTitle,
.projectsListTitle {
    place-self: center;
    font-size: 2.25rem;
    font-weight: 700;
}

.projectListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.projectListItemTitle {
    margin-right: auto;
}

.projectListItemDueCount {
    color: red;
}

.projectDescription {
    width: 40%;
    font-style: italic;
}

.newToDoButton {
    margin-left: auto;
    cursor: pointer;
}

.projectOptionsIcon {
    height: 2.5rem;
    cursor: pointer;
}

.projectDisplay {
    padding: 2rem;

    display: grid;
    gap: 2rem;

    overflow-y: scroll;
}

.toDo {
    background-color: var(--white-background-color);

    padding: 1.5rem;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.lowPriority {
    background-color: rgb(140, 140, 215);
    color: var(--white-background-color);
}

.midPriority {
    background-color: var(--white-background-color);
    color: var(--dark-grey);
}

.highPriority {
    background-color: rgb(255, 90, 90);
    color: var(--white-background-color);
}

.toDoCompleted {
    background-color: rgb(25, 155, 25);
    color: var(--white-background-color);
    text-decoration: line-through;
}

.toDoDue {

}

.toDoToolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}

.toDoToolbarIcon {
    height: 2.5rem;
}

.toDoTitle {
    margin-right: auto;

    font-size: 1.5rem;
    font-weight: 700;

    overflow: hidden;
}

.toDoDescription {
    font-style: italic;
}

.formHeading {
    text-align: center;
    font-size: 1.5rem;
}

.formItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}